.navbarSearchBtn {
    display: none;
}

.offcanvas-body ul{
    width: 100%;
}

.navbarListBtn {
    border: 1px solid #dc3545;
}

.scrollingWrapper .card {
    width: 3rem;
}

.scrollingWrapper .card img {
    height: 1rem;
}