.navbarSearchBtn {
    display: none;
}

.offcanvas-body ul{
    width: 100%;
}

.navbarListBtn {
    border: 1px solid #dc3545;
}


.mainBannerContent {
    padding-top: 16rem;
}

.scrollingWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.scrollingWrapper .card {
    width: 10rem;
    background-color: rgba(255, 255, 255, 0.0);
}

.scrollingWrapper .card .card-body {
    padding-left: .2rem;
}

.scrollingWrapper .card .tagNews {
    font-size: .8rem;
}

.scrollingWrapper .card .titleNews {
    font-size: .9rem;
    line-height: 1.2;
}

.scrollingWrapper .card .dateNews {
    font-size: .8rem;
}

.scrollingWrapper .card img {
    height: 5.5rem;
    border-radius: .3rem;
}