.navbarSearchBtn {
    display: none;
}

.offcanvas-body ul{
    width: 100%;
}

.navbarListBtn {
    border: 1px solid #dc3545;
}


.mainBannerContent {
    padding-top: 16rem;
}

.scrollingWrapper, .slider2 {
    overflow-x: scroll;
}

.scrollingWrapper .card {
    width: 10rem;
    background-color: rgba(255, 255, 255, 0.0);
}

.scrollingWrapper .card .card-body {
    padding-left: .2rem;
}

.scrollingWrapper .card .tagNews {
    font-size: .75rem;
}

.scrollingWrapper .card .titleNews {
    font-size: .9rem;
    line-height: 1.2;
}

.scrollingWrapper .card .dateNews {
    font-size: .75rem;
}

.scrollingWrapper .card img {
    height: 5.5rem;
    border-radius: .3rem;
}

footer p, .copyright {
    font-size: .8rem;
}

.mainContent img {
    height: 13rem;
    width: 100%;
}

.categoryName p {
    font-size: 1rem !important;
}

.listCategory .card{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.listCategory img{
    width: 40%;
    height: 7rem;
}

.listCategory .card-body {
    width: 60%;
    height: 7rem;
    margin-left: .5rem;
    padding-top: .5rem;
}

.listCategory .card-body .tagNews, .listCategory .card-body .dateNews{
    font-size: .8rem;
}