html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    /* background-color: #f1f1f1; */
}

a {
    text-decoration: none;
}

/* custom bootstrap */
.navbar-toggler {
    border: none;
    padding-top: .35rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
}

.navbar-toggler:active, .btn-close:active {
    background-color: #0000001e;
}

i.text-yellow {
    color: #ffff00;
}

/* styles */

.navbar-brand img {
    width: auto;
    height: 1.7rem;
}

.secondNavbar {
    background-color: #e73030;
}

.mainBanner {
    position: relative;
    overflow: hidden;
    background-color: #fe0000;
}

.mainBannerImg{
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 17rem; /* +- 288px */
}

.mainBannerOverlay {
    background: rgba(0, 0, 0, 0.3);
}

.mainBannerContent {
    padding-top: 18rem;
}

.mainHeadline a{
    font-weight: 500;
}

.mainNews {
    color: #fff;
    background-image: linear-gradient(to bottom,#e73030, #ce2121);
    box-shadow: 0px -15px 30px 20px #e73030;
    padding-bottom: 3rem;
}

.newsList, .categoryContent {
    position: relative;
}

.scrollingWrapper, .slider2 {
    display: flex;
    flex-wrap: nowrap;
}

/* .newsList .leftShadow {
    position: absolute;
    height: 15.5rem;
    width: 2rem;
    background-color: #e73030;
    box-shadow: 10px -2px 18px 10px #e73030;
    z-index: 9999;
}

.newsList .rightShadow {
    position: absolute;
    height: 15.5rem;
    right: 0;
    width: 2rem;
    background-color: #e73030;
    box-shadow: -10px -2px 18px 10px #e73030;
    z-index: 9999;
} */

.scrollingWrapper .card {
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 17rem;
}

.scrollingWrapper .card .card-body {
    padding-top: .8rem;
}

.scrollingWrapper .card a, .listCategory .card-body a {
    display: block ;
}

a.tagNews {
    color: #ffff00;
}

.scrollingWrapper .card .tagNews {
    font-size: .9rem;
    margin-bottom: .4rem;
}

.scrollingWrapper .card .titleNews {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .2rem;
}

.scrollingWrapper .card .dateNews {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9rem;
    margin: 0;
}

.scrollingWrapper .card img {
    height: 8rem;
}

.scrollingWrapper.active {
    /* background: rgba(255, 255, 255, 0.3); */
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.categoryContent .card {
    width: 16.5rem;
}

.categoryContent .card img {
    border-radius: .5rem;
}

.categoryContent .card .tagNews, .listCategory .card-body .tagNews {
    color: #e73030;
}

.categoryContent .card .dateNews, .listCategory .card-body .dateNews{
    color: rgba(0, 0, 0, 0.5);
}

.cardStory {
    /* width: 7rem; */
    padding: 2px;
}

.rainbow-box {
    background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    padding: 2px;
    /* padding-bottom: 6px; */
    border-radius: 10px;
  }

.cardStory .cardStoryBg {
    border-radius: .4rem;
    margin: 2px;
    outline: 2.5px solid #fff;
    padding: 0;
}

.cardStory img{
    border-radius: .4rem;
    width: 7rem;
    height: 13rem;
    opacity: .8;
}

.mainContent img {
    height: 25rem;
    width: 100%;
}

.hashtags a:nth-child(n+2)::before {
    content: "•";
    font-size: .7rem;
    margin-left: .4rem;
    margin-right: .54rem;
}

.sidebarContent img {
    height: 5.5rem;
    border-radius: .5rem;
}

.sidebarListContent .sidebarHashtags{
    font-size: .8rem;
}

.hashtags a:nth-child(n+2)::before {
    content: "•";
    font-size: .5rem;
    margin-left: .3rem;
    margin-right: .44rem;
}

.sidebarListContent .sidebarTitle{
    font-size: .95rem;
    line-height: 1.3;
}

.sidebarListContent .sidebarDate{
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.6);
}

.secondNavbar .navbar-nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.secondNavbar .navbar-nav .nav-item {
    flex: 0 0 auto;
}

/* Custom scrollbar for Chrome, Safari and Opera */
.secondNavbar .navbar-nav::-webkit-scrollbar {
    display: none;
}

.scrollingWrapper.slider1::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
}

.scrollingWrapper.slider1::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}
  
/* Custom scrollbar for IE, Edge and Firefox */
.secondNavbar .navbar-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.listCategoryName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listCategory img {
    height: 8rem;
    width: 100%;
    border-radius: .5rem;
}

.listCategory .card-body .tagNews, .listCategory .card-body .dateNews {
    font-size: .9rem;
}

.listCategory .card-body .titleNews {
    font-size: 1.1rem;
}