.navbarSearchInput {
    display: none;
}

.navbarSearchBtn {
    color: #dc3545;
}

.offcanvas-body {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbarListBtn {
    width: 75px;
}

.scrollingWrapper, .slider2 {
    overflow-x: hidden;

    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
}